body {
    padding: 0;
    margin: 0;
    background-color: #0e171f;
    color: #fafbff;
    font-family: sans-serif;
    min-height: 100vh;
    justify-content: start;
    display:inline-block;
}
.container {
    padding-left: 2rem;
    padding-right: 2rem;
}
.card-section {
    display: grid;
    gap: 1.75rem;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
.card {
    background-image: url(img/tsm.png);
    padding: 1.75rem;
    border-radius: 1.75rem;
    -webkit-border-radius: 1.75rem;
    -moz-border-radius: 1.75rem;
    -ms-border-radius: 1.75rem;
    -o-border-radius: 1.75rem;
    display: flex;
    flex-wrap: wrap;
}
.card .card-header {
    flex-basis: 100%;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.card .card-body {
    flex-basis: 100%;
    margin-top: 1.2rem;
}
.card .card-body p {
    margin: 0;
}
.card .card-body a {
    text-decoration: none;
    color: #fafbff;
    display: inline-block;
    padding: 0.7rem 1.75rem;
    border: 1px solid transparent;
    background-color: #0e171f;
    border-radius: 1.75rem;
    -webkit-border-radius: 1.75rem;
    -moz-border-radius: 1.75rem;
    -ms-border-radius: 1.75rem;
    -o-border-radius: 1.75rem;
    margin-top: 1.2rem;
    transition: background-color 0.4s ease-in, color 0.4s ease-in;
    -webkit-transition: background-color 0.4s ease-in, color 0.4s ease-in;
    -moz-transition: background-color 0.4s ease-in, color 0.4s ease-in;
    -ms-transition: background-color 0.4s ease-in, color 0.4s ease-in;
    -o-transition: background-color 0.4s ease-in, color 0.4s ease-in;
}
.card .card-body a:hover {
    background-color: transparent;
    border-color: #0e171f;
    color: #0e171f;
}
.card .card-footer {
    flex-basis: 100%;
    align-self: flex-end;
    text-align: end;
    font-size: 0.8rem;
}
h1{
    text-align: center;
}


